@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.application {
    background-color: #f1f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.start-button {
    border-radius: 1vh;
    font-size: 20px;
    font-family: "italic";
}

.quiz-interface {
    background-color: #f1f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quiz-logo {
    justify-content: center;
    height: 200px;
}

.mcq-con {
    background-color: #f1f5f5;
    display: flex;
    width: 90%;
    max-width: 900px;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.inCorrect {
    background: #ff9393;
}

.timer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 5vh;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

.controls button:hover {
    background-color: #666;
}